a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
		a.wsp5efb839b{ color:#0082F4; text-decoration: none} 
		a.wsp5efb839b:visited{ color:#0082F4; text-decoration: none} 
		a.wsp5efb839b:active{ color:#0082F4; text-decoration: none} 
		a.wsp5efb839b:hover{ color:#0082F4; text-decoration: none} 
#table_564289d1 th { border: 0px solid #8C8C8C;  } 
#table_564289d1 td { border: 0px solid #8C8C8C;  } 
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_48ef720e { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:320px; background:none;  }
.textstyle2 { text-align:left; }
#container_4cf5715a { vertical-align: top; position:relative; display: inline-block; width:100%; min-width:320px; background-color:#000000;  }
#container_4cf5715a_padding { margin: 5px 10px 5px 10px;display: block;  }
#table_564289d1 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-table; width:100%; height:100%; background:none; border: 0px solid #8C8C8C; table-layout: fixed;  }
#cell_48e28962 {  }
#img_490d75da { vertical-align: top; position:relative; display: inline-block; width:172px; height:30px; background:none;  }
#cell_9da77dd {  }
.textstyle3 { text-align:right; }
#img_3a408b00 { vertical-align: top; position:relative; display: inline-block; margin:0px 10px 0px 0px;width:30px; height:30px; background:none;  }
#img_27649c22 { vertical-align: top; position:relative; display: inline-block; margin:0px 10px 0px 0px;width:30px; height:30px; background:none;  }
#img_36175d75 { vertical-align: top; position:relative; display: inline-block; width:30px; height:30px; background:none;  }
#container_747437a5 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:584px; min-width:320px; background-color:#FFFFFF; background-image: url(rc_images/stepbystep.jpg); background-position:center center; background-size:cover;  }
#container_747437a5_padding { margin: 10px; display: block;  }
#container_39a987f9 { vertical-align: top; position:relative; display: inline-block; width:100%; min-width:320px; max-width:700px; background:none;  }
#container_39a987f9_padding { margin: 10px; display: block;  }
.textstyle4 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#575757; line-height: 1.5;  }
.textstyle5 { font-size:10pt; font-family:Arial, Helvetica, sans-serif; color:#575757; line-height: 1.5;  }
.textstyle6 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#575757; line-height: 1.5;  }
#container_3d119465 { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#000000;  }
#container_3d119465_padding { margin: 10px 10px 10px 0px;display: block;  }
#container_4fa18e1 { vertical-align: top; position:relative; display: inline-block; min-height:150px; background:none;  }
#container_4fa18e1_padding { margin: 10px; display: block;  }
#img_1f8f6b6c { vertical-align: bottom; position:relative; display: inline-block; width:160px; height:160px; background:none;  }
#container_177c12a2 { vertical-align: top; position:relative; display: inline-block; min-height:150px; background:none;  }
#container_177c12a2_padding { margin: 10px; display: block;  }
#img_75de1b49 { vertical-align: bottom; position:relative; display: inline-block; width:160px; height:160px; background:none;  }
#container_6f87498c { vertical-align: top; position:relative; display: inline-block; min-height:150px; background:none;  }
#container_6f87498c_padding { margin: 10px; display: block;  }
#img_4cdd36f7 { vertical-align: bottom; position:relative; display: inline-block; width:160px; height:160px; background:none;  }
.textstyle7 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; line-height: 1.5;  }
#text_3b42e9dd { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_3b42e9dd_padding { margin: 0px 10px 0px 10px;display: block;  }
.textstyle8 { font-size:10pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
